@model HHSBooking.Reservas

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Reservas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idhotel" class="control-label"></label>
                <select asp-for="Idhotel" class ="form-control" asp-items="ViewBag.Idhotel"></select>
            </div>
            <div class="form-group">
                <label asp-for="Idcliente" class="control-label"></label>
                <select asp-for="Idcliente" class ="form-control" asp-items="ViewBag.Idcliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="Idregime" class="control-label"></label>
                <select asp-for="Idregime" class ="form-control" asp-items="ViewBag.Idregime"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdtipoQuarto" class="control-label"></label>
                <select asp-for="IdtipoQuarto" class ="form-control" asp-items="ViewBag.IdtipoQuarto"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodPagamento" class="control-label"></label>
                <select asp-for="CodPagamento" class ="form-control" asp-items="ViewBag.CodPagamento"></select>
            </div>
            <div class="form-group">
                <label asp-for="QuantAdultos" class="control-label"></label>
                <input asp-for="QuantAdultos" class="form-control" />
                <span asp-validation-for="QuantAdultos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantCriancas" class="control-label"></label>
                <input asp-for="QuantCriancas" class="form-control" />
                <span asp-validation-for="QuantCriancas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckIn" class="control-label"></label>
                <input asp-for="CheckIn" class="form-control" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOut" class="control-label"></label>
                <input asp-for="CheckOut" class="form-control" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
